<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="../{{ module_path }}/css/{{ cssFile }}.css">
  <title> Newsletter</title>
</head>
<body>
<div class="text-center">{{ result }}</div>
</body>
</html>
